   
  
        
        /* SECTION-ONE */
        
        
        .right .line {
            position: relative;
            left: -6vw;
        }
       
    /* headder */
    #headder{
        position: fixed;
        transition: 0.7s;
        background-color: var(--HeadderColor);
        height: 20px;
        padding-left: 1px;
        padding-bottom: 3vh;
        padding-top: 3vh;
        }
        main {
            flex-direction: column;
            position: fixed;
            z-index: 0;
            top: -150%;
            background-color:var(--backcolor);
            width: 100%;
            left: 1px;
            transition:0.7s;
            font-size: 11vw;
       }
       main menu{
        margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    }
    menu#icon{
        position: fixed;
        right: 1.5em;
        display: flex;
        border:solid 1px #fff ;
        border-radius: 5px;
        padding-inline-start: 0px;
    }
    
        
        /* SECTION-ONE */
       section#hero .left{
        height: 100%;
        width: 100%;
        background-image: url(../assts/herobg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-blend-mode: color-burn;
        background-color: rgba(0, 0, 0, 0.65)  ;
        align-items: center;
        padding-left: 0px;
    }
       section#hero .left h3{
           text-align: center;
           font-size: 6vw;
       }
       section#hero .left h1{
           font-size: 10vw;
           text-align: center;
       }
       section#hero .left h2{
           font-size: 5vw;
           text-align: center;
       }
       section#hero .right{
        display: none;
    }
       section#fetured .left{
           display: none;
       }
       section#fetured{
           align-items: center;
           height: 90vw;
           padding-left: 2vw;
           padding-bottom: 8vw;
       }
       section#fetured .right{
           width: 87%;
           position: relative;
           left: 9vw;
           top: 9vw;
           transform: translate(0,0);
        }
       section#fetured .right::before
       {
           content: 'Fetured';
           font-size: 9vw;
           color: #D6D6E7;
           position: absolute;
           left: 26vw;;
           z-index: -2;
           top: -8vw;
       }
       .right .line .but-box{
           width: 50%;
           height: 100%;
           padding: 2vw;
           padding-left: 0px;
           padding-right: 9vw;
       }
    /*==================================================================*/
    section#About {
        height: 235vw;
        padding-bottom: 6vw;
    }
    section#About .container .img {
        --size: 48vw;
        height: var(--size);
        width: var(--size);
        border-radius: 16px;  
    }
    section#About .container {
        justify-content: space-around;
        height: 100vw;
        flex-direction: column;
    }
    section#About .container#doctor-container{     
        flex-direction: column-reverse;
    }
   
    section#About .container .content {
        height: max-content;
        width: 82vw;
        padding: 3vw;
    }
    
    section#About .container .content p {
        font-size: 4vw;
    }
    h1 {
        font-size: 13vw;
    }
    h2 {
        font-size: 7vw;
        color: var(--FontColorWhite);
        margin-block-end: 0px;
        margin-block-start: 0px;
    }
    
    /*contact*/
    section#contact{
        height: 114vw;
    }
    
    section#contact .icon{
        --size: 19vw;
        height: var(--size);
        width: var(--size);
        font-size: 8vw;
        color: #000;
    }
    
    section#contact #icon-container{
        position: relative;
        top: -89vw;
        flex-direction: column;
    }
    section#contact .icon-box{
        padding: 4vw;
    }
    section#contact .icon-box p{
        display: none;
    }
    section#contact #bottom {
        background: #fff;
        background: #fff;
        float: right;
        height: 0px;
    }
    section#contact #map{
        background-color: #bebebe;
        height: 78%;
    }
    
    /*======================================================*/
    .review-box {
        width: 73vw;
        font-size: 4.5vw;
    }
    section#testomonial h2 {
        font-size: 9vw;
    }
    /*================================*/
    .newsletter
    {
        font-size: 3vw;
        height: max-content;
        padding: 3vw;
    }
    .newsletter .container{
        width: 100%;
        font-family: 'Nirmala UI';
        flex-direction: column   ;
        
    }
    .text-area{
        background-color: #fff;
        width: 55%;
        height:48px;
        border: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        font-size: 3.5vw;
    }
    .space-between{
        justify-content: space-between;
    }
    .subscribe, .input-group{
        width: 100%;
        text-align: center;
        padding-bottom: 2vw;
        padding-bottom: 4vw;
        font-size: 4vw;
    }
   
    .input-group .button-30{
        width: 30%;
        font-size:3.5vw;
    }   