
    /* SECTION-ONE */
    #headder{
    padding-left: 1px;
    padding-bottom: 3vh;
    padding-top: 3vh;
    }
    main {
       font-size: 11vw;
   }
   
   section#hero .left h3{
       text-align: center;
       font-size: 6vw;
   }
   section#hero .left h1{
       font-size: 10vw;
       text-align: center;
   }
   section#hero .left h2{
       font-size: 5vw;
       text-align: center;
   }
   section#fetured .left{
       display: none;
   }
   section#fetured{
       align-items: center;
       height: 90vw;
       padding-left: 2vw;
       padding-bottom: 8vw;
   }
   section#fetured .right{
       width: 87%;
       position: relative;
       left: 9vw;
       top: 9vw;
   }
   section#fetured .right::before
   {
       content: 'Fetured';
       font-size: 9vw;
       color: #D6D6E7;
       position: absolute;
       left: 26vw;;
       z-index: -2;
       top: -8vw;
   }
   .right .line .but-box{
       width: 50%;
       height: 100%;
       padding: 2vw;
       padding-left: 0px;
       padding-right: 9vw;
   }
